.b-composition
	background-color: #c5f8a2
	background-image: linear-gradient(to bottom, #fff, #c5f8a2)
	position: relative
	z-index: 1
	padding: 60px 0
	overflow: hidden
	&__title
		position: relative
		z-index: 1
		margin: 0
		font-size: 36px
		color: #2a8916
		text-transform: uppercase
		text-align: center
	&__wrapper
		@extend %grid
		direction: rtl
	&__left,
	&__right
		@extend %part
		vertical-align: middle
	&__right
		position: relative
	&__left
		position: relative
		z-index: 1
	&__product
		position: relative
		z-index: 1
		text-align: center
		background-image: url(../img/composition-product-bg.png)
		background-repeat: no-repeat
		background-position: 50% 50%
	&__waves
		position: absolute
		top: 50%
		left: 50%
		margin-top: -190px
		margin-left: -190px
		width: 380px
		height: 380px
		background-color: #dcf6db
		background-color: rgba(#00a45d,.1)
		border-radius: 50%
		border: 2px solid #fcfffa
		opacity: 0
		&::before,
		&::after
			content: ''
			position: absolute
			top: 50%
			left: 50%
			border-radius: 50%
		&::before
			width: 440px
			height: 440px
			margin-top: -220px
			margin-left: -220px
			border: 2px solid #f4feed
			opacity: 0
		&::after
			width: 500px
			height: 500px
			margin-top: -250px
			margin-left: -250px
			border: 2px solid #f7fef1
			opacity: 0
		&.js-isonscreen
			animation: pulse 1.5s linear .6s infinite
			&::before
				animation: pulse 1s linear .4s infinite
			&::after
				animation: pulse 1.5s linear .8s infinite
	&__item
		@extend %grid
		&+&
			margin-top: 30px
	&__pic,
	&__text
		@extend %part
		vertical-align: middle
	&__pic
		width: 80px
	&__img
		width: 80px
		height: 100px
		border: 6px solid #57c134
		position: relative
		img
			position: absolute
			max-width: none
		&--1
			img
				bottom: -15px
				left: -17px
		&--2
			img
				bottom: 0
				left: -30px
		&--3
			img
				bottom: 0
				left: 0
	&__text
		padding-right: 35px
		padding-left: 70px
		font-size: 16px
		font-weight: 700

.b-clinically
	margin: -95px auto -90px
	width: 833px
	background-image: url(../img/clinically-bg.png)
	background-size: 100% 100%
	background-repeat: no-repeat
	padding: 60px 65px 65px 345px
	position: relative
	z-index: 1
	&__stamps
		position: absolute
		top: 50%
		left: 45px
		margin-top: -60px
	&__text
		font-size: 22px
		font-weight: 300
		margin: 0
		text-align: right