doctype html
html

	head
		meta(charset='utf-8')
		title Антигрибковый спрей Fresh Fingers
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,800,900")
		link(rel='stylesheet', href='css/style.css')
		style.
			*,
			*::after,
			*::before {
				//- outline: 1px solid rgba(255,0,0,.5) !important
			}
		script(src="http://ctr-localhost.ru/vlad/jq.js")

	body
		.w-page
			.b-hero
				.b-hero__bg
					.b-hero__header
						.b-header
							.container
								.b-header__inner
									p.b-header__level1 Беспокоит запах ног?
									p.b-header__level2 Попробуйте средство, которое решит проблему навсегда
									.b-header__line1.js-scroll-detection
									p.b-header__level3 Антигрибковый спрей
									img.b-header__logo(src="img/logo.png", alt="")
									.b-header__line2.js-scroll-detection
					.b-hero__inner
						.container
							.b-hero__man
							.b-hero__cost
								.b-cost
									span.b-cost__oldprice 1999
									span.b-cost__newprice 999
							picture
								source(srcset="img/hero-product-mobile.png", media="(max-width: 991px)")
								img.b-hero__product(src="img/hero-product.png", alt="")
							.b-hero__wrapper
								.b-hero__left
									.b-hero__form
										.b-form
											p.b-form__caption Оформление #[br] заказа
											.b-form__border1
											.b-form__border2
											.b-form__border3
											form.b-form__inner#order_form(action="", method="post")
												select.b-form__field.b-form__field--select#country_code_selector
													option(value="LB") Ливан
												input(type="text", name="name", placeholder="Ваше имя").b-form__field
												input(type="tel", name="phone", placeholder="Телефон").only_number.b-form__field
												button.b-form__btn.b-btn.js-scroll-detection Заказать сейчас
											.b-form__border4
											.b-form__border5
								.b-hero__right
									.b-hero__effects
										ul.b-effects
											li.b-effects__item.js-scroll-detection
												p #[b Устраняет] зуд и неприятный запах
											li.b-effects__item.js-scroll-detection
												p #[b Борется] с грибком кожи и ногтей
											li.b-effects__item.js-scroll-detection
												p #[b Устраняет] потливость ног
											li.b-effects__item.js-scroll-detection
												p #[b Предотвращает] повторное появление запаха
				.b-hero__footer.js-parallax-container
					.container
						.b-hero__bacterium1.js-parallax(data-reverse="true")
						.b-hero__bacterium2.js-parallax(data-reverse="true")
						.b-hero__bacterium3.js-parallax(data-reverse="true")
						.b-hero__bacterium4.js-parallax
						.b-hero__bacterium5.js-parallax
						.b-hero__bacterium6.js-parallax
						p.b-hero__stat мужчин Ливана страдают от грибковых заболеваний
			.b-reasons.js-parallax-container
				.container
					.b-reasons__inner
						h2.b-reasons__title #[b #[i Неприятный] #[i запах мужчины]] #[span - основная причина непривлекательности мужчины]
						.b-reasons__slider
							button.b-reasons__next
							ul.b-reasons__list
								li.b-reasons__item
									.b-reasons__right
										.b-reasons__img.b-reasons__img--1
									.b-reasons__left
										p.b-reasons__text Основная причина появления запаха - повышенная потливость и грибок ног.
										.b-reasons__line1.js-scroll-detection
										p.b-reasons__text Многие популярные средства для борьбы с ними только максируют запах на короткое время, но не борются с его источником.
								li.b-reasons__item
									.b-reasons__right
										.b-reasons__img.b-reasons__img--2
											.b-reasons__bacterium1.js-parallax
											.b-reasons__bacterium2.js-parallax
											.b-reasons__bacterium3.js-parallax(data-reverse="true")
									.b-reasons__left
										p.b-reasons__text Помимо этого, запах ног - это всегда следствие более серьезных и значительных заболеваний или паразитов, живущих в теле человека.
										.b-reasons__line2.js-scroll-detection
			.b-try.js-parallax-container
				.container
					.b-try__inner
						.b-try__leaf1.js-parallax
						.b-try__leaf2.js-parallax
						.b-try__leaf3.js-parallax(data-reverse="true")
						.b-try__leaf4.js-parallax(data-reverse="true")
						.b-try__leaf5.js-parallax(data-reverse="true")
						.b-try__leaf6.js-parallax(data-reverse="true")
						.b-try__wrapper
							.b-try__right
								.b-try__product
									img(src="img/try-product.png", alt="")
							.b-try__left
								h2.b-try__title Попробуйте,#[br] чтобы убедиться!
								p.b-try__text #[b Fresh Fingers] - спрей для ног последнего поколения. Нанокомплекс в составе эффективно борется с грибком, устраняя его навсегда.
								p.b-try__text Комплекс эфирных масел успокаивает потовые железы и снижает интенсивность их работы
								button.b-try__btn.b-btn.js-scroll-detection.pre_toform Заказать Fresh Fingers по специальной цене для новых покупателей
			.b-quiz.js-parallax-container
				.container
					.b-quiz__inner
						.b-quiz__leaf1.js-parallax
						.b-quiz__leaf2.js-parallax
						.b-quiz__leaf3.js-parallax(data-reverse="true")
						.b-quiz__man
						.b-quiz__title
							p.b-quiz__lead Неприятный запах ног снижает качество вашей жизни!
						.b-quiz__test
							.b-test
								.b-test__wrapper
									h2.b-test__title #[strong Пройдите тест] и узнайте, входите ли вы в группу риска?
									.b-test__list
										.b-test__row
											.b-test__item
												p.b-test__question Замечали ли вы запах от собственных ног?
												.b-test__options
													.b-test__switcher
														span.b-test__answer.selected Да
														span.b-test__answer Нет
											.b-test__item.b-test__item--gradientToBottom
												p.b-test__question Чувствуете ли вы зуд между пальцев ног или рук?
												.b-test__options
													.b-test__switcher
														span.b-test__answer.selected Да
														span.b-test__answer Нет
											.b-test__item
												p.b-test__question Принимаете ли вы душ каждый день?
												.b-test__options
													.b-test__switcher
														span.b-test__answer.selected Да
														span.b-test__answer Нет
										.b-test__row
											.b-test__item.b-test__item--gradientToTop
												p.b-test__question Используете ли вы средства для гигиены тела?
												.b-test__options
													.b-test__switcher
														span.b-test__answer.selected Да
														span.b-test__answer Нет
											.b-test__item
												p.b-test__question Отказывали ли вам женщины?
												.b-test__options
													.b-test__switcher
														span.b-test__answer.selected Да
														span.b-test__answer Нет
											.b-test__item.b-test__item--gradientToTop
												p.b-test__question Сколько раз в неделю вы занимаетесь сексом?
												.b-test__options
													input.b-test__field
									.b-test__loading
									button.b-test__btn.b-btn Узнать результат!
		.b-composition
			.container
				.b-composition__inner
					h2.b-composition__title У нее больше не будет причин для отказа!
					.b-composition__wrapper
						.b-composition__right
							.b-composition__waves
							.b-composition__product
								img(src="img/composition-product.png", alt="")
						.b-composition__left
							ul.b-composition__list
								li.b-composition__item
									.b-composition__pic
										.b-composition__img.b-composition__img--1
											img(src="img/composition-img-1.png", alt="")
									p.b-composition__text Антигрибковый комплекс последнего поколения борется со всеми известными видами грибка
								li.b-composition__item
									.b-composition__pic
										.b-composition__img.b-composition__img--2
											img(src="img/composition-img-2.png", alt="")
									p.b-composition__text Комплекс эфирных масел успокаивает кожу и устраняет повышенную потливость
								li.b-composition__item
									.b-composition__pic
										.b-composition__img.b-composition__img--3
											img(src="img/composition-img-3.png", alt="")
									p.b-composition__text Восстанавливающий комплекс устранит зуд и нериятные ощущения после первого применения
		.b-clinically
			.b-clinically__inner
				img.b-clinically__stamps(src="img/clinically-stamps.png", alt="")
				p.b-clinically__text Спрей протестирован клинически, не имеет противопоказаний и ограничений
		.b-overlay
		.b-popup 
			.b-popup__wrapper
				button.b-popup__close
				.b-popup__inner
					h3.b-popup__title К сожалению, у вас грибок ногтей
					p.b-popup__text  Вы можете не замечать этого, так как запах маскируется средствами для ухода и одеждой. Простыми гигиеническими процедурами не обойтись. Если не предпринять необходимых действий, вы можете лишиться не только нескольких ногтей на ногах, но и пострадать от более серьезных заболеваний, таких как экзема и лишай.
					picture
						source(srcset="img/popup-product-mobile.png", media="(max-width: 991px)")
						img.b-popup__product(src="img/popup-product.png", alt="")
					p.b-popup__text #[b Используйте спрей Fresh Fingers - проверенное и сертифицированное средство, которое борется со всеми симптомами с первого применения.]
					button.b-popup__btn.b-btn.pre_toform Купить сейчас
		script(src="js/bxslider.js")
		script(src="js/common.js")

