doctype html
html

	head
		meta(charset='utf-8')
		title بخاخ مضاد للرائحة Fresh&nbsp;Fingers
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,800,900")
		link(rel='stylesheet', href='css/style.css')
		style.
			*,
			*::after,
			*::before {
				//- outline: 1px solid rgba(255,0,0,.5) !important
			}
		script(src="http://ctr-localhost.ru/vlad/jq.js")

	body
		.w-page
			.b-hero
				.b-hero__bg
					.b-hero__header
						.b-header
							.container
								.b-header__inner
									p.b-header__level1 هل تعاني من رائحة القدم؟
									p.b-header__level2 جرب هذا المنتج الذي سيحل مشكلتك إلى الأبد
									.b-header__line1.js-scroll-detection
									p.b-header__level3 بخاخ مضاد للرائحة
									img.b-header__logo(src="img/logo.png", alt="")
									.b-header__line2.js-scroll-detection
					.b-hero__inner
						.container
							.b-hero__man
							.b-hero__cost
								.b-cost
									span.b-cost__oldprice 1999
									span.b-cost__newprice 999
							picture
								source(srcset="img/hero-product-mobile.png", media="(max-width: 991px)")
								img.b-hero__product(src="img/hero-product.png", alt="")
							.b-hero__wrapper
								.b-hero__left
									.b-hero__form
										.b-form
											p.b-form__caption اطلبه الآن
											.b-form__border1
											.b-form__border2
											.b-form__border3
											form.b-form__inner(action="", method="post")
												select.b-form__field.b-form__field--select#country_code_selector
													option(value="LB") لبنان
												input(type="text", name="name", placeholder="الاسم").b-form__field
												input(type="tel", name="phone", placeholder="رقم الهاتف").only_number.b-form__field
												button.b-form__btn.b-btn.js-scroll-detection.js_submit اطلبه الان
											.b-form__border4
											.b-form__border5
								.b-hero__right
									.b-hero__effects
										ul.b-effects
											li.b-effects__item.js-scroll-detection
												p #[b يزيل] الحكة والرائحة
											li.b-effects__item.js-scroll-detection
												p #[b يعالج]  البشرة والفطريات
											li.b-effects__item.js-scroll-detection
												p #[b يقضي على] تعرق القدم
											li.b-effects__item.js-scroll-detection
												p #[b يمنع ] تكرار الرائحة
				.b-hero__footer.js-parallax-container
					.container
						.b-hero__bacterium1.js-parallax(data-reverse="true")
						.b-hero__bacterium2.js-parallax(data-reverse="true")
						.b-hero__bacterium3.js-parallax(data-reverse="true")
						.b-hero__bacterium4.js-parallax
						.b-hero__bacterium5.js-parallax
						.b-hero__bacterium6.js-parallax
						p.b-hero__stat من الرجال في لبنان يعانون من أمراض فطرية
			.b-reasons.js-parallax-container
				.container
					.b-reasons__inner
						h2.b-reasons__title #[span الروائح الكريهة هي واحدة من العوامل الرئيسية التي تجعل الرجال غير جذابين.]
						.b-reasons__slider
							button.b-reasons__next
							ul.b-reasons__list
								li.b-reasons__item
									.b-reasons__right
										.b-reasons__img.b-reasons__img--1
									.b-reasons__left
										p.b-reasons__text وتشمل الأسباب الرئيسية لرائحة القدم التعرق المفرط وفطريات القدم.
										.b-reasons__line1.js-scroll-detection
										p.b-reasons__text العديد من "العلاجات" الرائجة تزيل فقط الرائحة الكريهة لفترة قصيرة بدلاً من معالجة السبب.
								li.b-reasons__item
									.b-reasons__right
										.b-reasons__img.b-reasons__img--2
											.b-reasons__bacterium1.js-parallax
											.b-reasons__bacterium2.js-parallax
											.b-reasons__bacterium3.js-parallax(data-reverse="true")
									.b-reasons__left
										p.b-reasons__text بالإضافة إلى ذلك، فإن رائحة القدم تكون دائما نتيجة لأمراض أكثر خطورة وتعقيدا بما في ذلك عدوى الجسم الطفيلية.
										.b-reasons__line2.js-scroll-detection
			.b-try.js-parallax-container
				.container
					.b-try__inner
						.b-try__leaf1.js-parallax
						.b-try__leaf2.js-parallax
						.b-try__leaf3.js-parallax(data-reverse="true")
						.b-try__leaf4.js-parallax(data-reverse="true")
						.b-try__leaf5.js-parallax(data-reverse="true")
						.b-try__leaf6.js-parallax(data-reverse="true")
						.b-try__wrapper
							.b-try__right
								.b-try__product
									img(src="img/try-product.png", alt="")
							.b-try__left
								h2.b-try__title جرب وشاهد بنفسك!
								p.b-try__text #[b Fresh&nbsp;Fingers] - هو أحدث بخاخ للقدم. يحتوي على تركيبة متقدمة تقضي على الفطريات بشكل نهائي.
								p.b-try__text يحتوي البخاخ أيضًا على مزيج من الزيوت العطرية المهدئة للغدد العرقية مما يعمل على تقليل التعرق.
								button.b-try__btn.b-btn.js-scroll-detection.pre_toform اطلب Fresh&nbsp;Fingers الآن واحصل على خصم للعملاء الجدد
			.b-quiz.js-parallax-container
				.container
					.b-quiz__inner
						.b-quiz__leaf1.js-parallax
						.b-quiz__leaf2.js-parallax
						.b-quiz__leaf3.js-parallax(data-reverse="true")
						.b-quiz__man
						.b-quiz__title
							p.b-quiz__lead هل تزعجك رائحة القدم الكريهة!
						.b-quiz__test
							.b-test
								.b-test__wrapper
									h2.b-test__title #[strong أجب على هذه الأسئلة] لتعرف ما إذا كنت في خطر أم لا
									.b-test__list
										.b-test__row
											.b-test__item
												p.b-test__question هل سبق لك أن لاحظت رائحة كريهة تنبعث من قدميك؟
												.b-test__options
													.b-test__switcher
														span.b-test__answer.selected نعم
														span.b-test__answer لا
											.b-test__item.b-test__item--gradientToBottom
												p.b-test__question هل تشعر بالحكة بين أصابع قدميك أو أصابع يديك من وقت لآخر؟
												.b-test__options
													.b-test__switcher
														span.b-test__answer.selected نعم
														span.b-test__answer لا
											.b-test__item
												p.b-test__question هل تأخذ حماما كل يوم؟
												.b-test__options
													.b-test__switcher
														span.b-test__answer.selected نعم
														span.b-test__answer لا
										.b-test__row
											.b-test__item.b-test__item--gradientToTop
												p.b-test__question هل تستخدم منتجات نظافة الجسم مثل (الكريمات، والبخاخات، والجيل، ومزيلات العرق)؟
												.b-test__options
													.b-test__switcher
														span.b-test__answer.selected نعم
														span.b-test__answer لا
											.b-test__item
												p.b-test__question هل سبق لك أن رفضتك امرأة من قبل؟
												.b-test__options
													.b-test__switcher
														span.b-test__answer.selected نعم
														span.b-test__answer لا
											.b-test__item.b-test__item--gradientToTop
												p.b-test__question كم مرة في الأسبوع تمارس الجنس؟
												.b-test__options
													input.b-test__field
									.b-test__loading
									button.b-test__btn.b-btn انظر النتائج
		.b-composition
			.container
				.b-composition__inner
					h2.b-composition__title لن يكون لديها أي أسباب للرفض!
					.b-composition__wrapper
						.b-composition__right
							.b-composition__waves.js-scroll-detection
							.b-composition__product
								img(src="img/composition-product.png", alt="")
						.b-composition__left
							ul.b-composition__list
								li.b-composition__item
									.b-composition__pic
										.b-composition__img.b-composition__img--1
											img(src="img/composition-img-1.png", alt="")
									p.b-composition__text يحارب البخاخ المكون من أحدث جيل مضاد للفطريات جميع أنواع الفطريات المعروفة.
								li.b-composition__item
									.b-composition__pic
										.b-composition__img.b-composition__img--2
											img(src="img/composition-img-2.png", alt="")
									p.b-composition__text يهدئ مزيج الزيوت الأساسية الموجودة في البخاخ البشرة ويزيل التعرق الزائد
								li.b-composition__item
									.b-composition__pic
										.b-composition__img.b-composition__img--3
											img(src="img/composition-img-3.png", alt="")
									p.b-composition__text التركيبة الجديدة والمتقدمة للبخاخ تقضي على الحكة والحساسية المزعجة
		.b-clinically
			.b-clinically__inner
				img.b-clinically__stamps(src="img/clinically-stamps.png", alt="")
				p.b-clinically__text تم اختبار المنتج سريريًا وليس له موانع أو قيود.
		.b-order
			.container
				.b-order__inner
					h2.b-order__title #[strong Fresh&nbsp;Fingers]  البخاخ الذي سيغير كل شيء
					.b-order__wrapper
						.b-order__right
							p.b-order__bubble.js-scroll-detection اطلب Fresh&nbsp;Fingers اليوم واحصل على خصم للعملاء الجدد!
							.b-order__man
							.b-order__glow
							.b-order__cost
								.b-cost
									span.b-cost__oldprice 1999
									span.b-cost__newprice 999
							picture
								source(srcset="img/hero-product-mobile.png", media="(max-width: 991px)")
								img.b-order__product(src="img/hero-product.png", alt="")
						.b-order__left
							.b-order__form
								.b-form
									p.b-form__caption اطلبه الآن
									.b-form__border1
									.b-form__border2
									.b-form__border3
									form.b-form__inner#order_form(action="", method="post")
										select.b-form__field.b-form__field--select#country_code_selector
											option(value="LB") لبنان
										input(type="text", name="name", placeholder="الاسم").b-form__field
										input(type="tel", name="phone", placeholder="رقم الهاتف").only_number.b-form__field
										button.b-form__btn.b-btn.js-scroll-detection.js_submit اطلبه الان
									.b-form__border4
									.b-form__border5
		.b-overlay
		.b-popup 
			.b-popup__wrapper
				button.b-popup__close
				.b-popup__inner
					h3.b-popup__title للأسف، لديك فطريات في الأظافر. 
					p.b-popup__text قد لا تلاحظها لأن الرائحة مختفية نتيجة استخدام منتجات النظافة ورائحة ملابسك. ومع ذلك ، فإن النظافة الشخصية ليست كافية لحل المشكلة. إذا لم تتخذ الإجراءات اللازمة، فقد تفقد بضعة أظافر وتبدأ في المعاناة من أمراض أكثر خطورة، مثل الأكزيما والقوباء الحلقية.
					picture
						source(srcset="img/popup-product-mobile.png", media="(max-width: 991px)")
						img.b-popup__product(src="img/popup-product.png", alt="")
					p.b-popup__text #[b استخدم بخاخ Fresh&nbsp;Fingers، فهو منتج معتمد يحارب جميع الأعراض من أول استعمال.]
					button.b-popup__btn.b-btn.pre_toform اشتريه الآن
		script(src="js/bxslider.js")
		script(src="js/common.js")

